.TaskManager {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: #8f0004;
    margin: 1rem 1rem;
}

.TaskManager h1{
    color: #011C00;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.TaskManager .add-task-mine{
    width: 80%;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    background-color: #005855;
    color: #E80006;
    cursor: pointer;
}

.TaskManager .task-filters-mine button{
    background-color: #220F00;
    color: #008E89;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border: none;
}

.TaskManager ul.task-list-mine{
    list-style: none;
    padding: 0;
    width: 80%;
}

.TaskManager ul.task-list-mine li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #09BE00;
    color: #001514;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.TaskManager .task-list-mine button{
    background-color: #8F0004;
}

